html {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
}

header {
  align-items: center;
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  z-index: 20;
}

a {
  color: seashell;
  text-decoration: underline;
}

header .logo {
  margin-left: 10px;
  position: fixed;
  top: 9.5px;
  left: 10px;
}

.logo img {
  height: 50px;
  width: auto;
}

header nav {
  justify-content: flex-end;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline-block;
  margin: 15px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 69px;
}

#mission {
  align-items: center;
  display: flex;
  background-image: url("../images/img-mission-background.jpg");
  background-color: black;
  height: 700px;
  width: 1200px;
}

#mission .mission-text {
  background-color: black;
  width: 1200px;
}

#story {
  align-items: center;
  padding-top: 69px;    /*to accommodate for header when following nav links*/
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.item img{
  height: 200px;
  width: 300px;
}

.menu-layer {
  display: inline-flex;
  flex-direction: row;
}
